@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Roboto", "Arial", sans-serif;
}

.beast {
    font-family: 'Irish Grover', sans-serif;
}

.g {
    font-family: 'Product Sans', sans-serif;
    font-family: 'Product Sans Thin', sans-serif;
    font-family: 'Product Sans Light', sans-serif;
    font-family: 'Product Sans Medium', sans-serif;
    font-family: 'Product Sans Black', sans-serif;
}